<form [formGroup]="addBootcampFrom" (ngSubmit)="addBootcamp()">
  <div class="mb-4">
    <label for="name" class="block text-sm font-medium text-gray-700"
      >Name</label
    >
    <input
      type="text"
      id="name"
      formControlName="name"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <div class="mb-4">
    <label for="instructorId" class="block text-sm font-medium text-gray-700"
      >Instructor ID</label
    >
    <input
      type="text"
      id="instructorId"
      formControlName="instructorId"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <div class="mb-4">
    <label for="bootcampStateId" class="block text-sm font-medium text-gray-700"
      >Bootcamp State ID</label
    >
    <input
      type="text"
      id="bootcampStateId"
      formControlName="bootcampStateId"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <div class="mb-4">
    <label for="startDate" class="block text-sm font-medium text-gray-700"
      >Start Date</label
    >
    <input
      type="date"
      id="startDate"
      formControlName="startDate"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <div class="mb-4">
    <label for="endDate" class="block text-sm font-medium text-gray-700"
      >End Date</label
    >
    <input
      type="date"
      id="endDate"
      formControlName="endDate"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <div class="mb-4">
    <label for="endDate" class="block text-sm font-medium text-gray-700"
      >Image Path</label
    >
    <input
      type="text"
      id="imagePath"
      formControlName="imagePath"
      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
    />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Add
  </button>
</form>
