<div class="flex flex-col min-h-screen">
  <!-- Main Content -->
  <div class="flex flex-grow">
    <!-- Left Menu (Sidebar) -->
    <div
      class="bg-gray-800 text-gray-100 w-1/5 overflow-y-auto flex flex-col justify-between"
    >
      <div class="p-4">
        <h1 class="text-lg font-bold mb-4">Menu</h1>
        <ul>
          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Bootcamps')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Bootcamps</a
            >
          </li>
          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Bootcamp State</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadInstructorComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Instructors</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Applications</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Application State</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Applicants</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Instructors</a
            >
          </li>

          <li class="mb-2">
            <a
              (click)="loadBootcampsComponent(); updateTitle('Instructors')"
              class="text-gray-300 hover:text-white cursor-pointer"
              >Employees</a
            >
          </li>
        </ul>
      </div>
      <div class="p-4">
        <p class="text-gray-400 mt-4">&copy; 2024 Admin Panel</p>
      </div>
    </div>
    <!-- Right Content Area -->
    <div class="w-4/5 p-8 flex flex-col items-center justify-center">
      <h2 class="text-2xl font-semibold mb-4">{{ selectedEntity }}</h2>

      <input type="search" name="" id="" />
      <div #content></div>
    </div>
  </div>
</div>
