<div class="flex flex-col min-h-screen">
  <!-- Main Content -->
  <div class="flex-grow">
    <div class="container">
      <div class="right-content">
        <table class="table-auto border-collapse w-full">
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-200 border">Id</th>
              <th class="px-4 py-2 bg-gray-200 border">Name</th>
              <th class="px-4 py-2 bg-gray-200 border">Username</th>
              <th class="px-4 py-2 bg-gray-200 border">Company</th>
              <th class="px-4 py-2 bg-gray-200 border">Email</th>
              <th class="px-4 py-2 bg-gray-200 border">Updated Date</th>

              <th class="px-4 py-2 bg-gray-200 border">Edit</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of instructorList.items">
              <tr>
                <td class="px-4 py-2 border">{{ item.id }}</td>
                <td class="px-4 py-2 border">
                  {{ item.firstName }} {{ item.lastName }}
                </td>
                <td class="px-4 py-2 border">{{ item.userName }}</td>
                <td class="px-4 py-2 border">{{ item.companyName }}</td>
                <td class="px-4 py-2 border">{{ item.email }}</td>
                <td class="px-4 py-2 border">
                  {{ item.updatedDate | customDate }}
                </td>

                <td class="px-4 py-2 border">
                  <button (click)="toggleEdit(item)">Edit</button>
                </td>
              </tr>
              <tr *ngIf="item.editing">
                <td colspan="9" class="px-4 py-2 border">
                  <form [formGroup]="updateInstructorForm">
                    <input
                      type="text"
                      class="w-full border rounded p-1"
                      formControlName="userName"
                      placeholder="Username"
                    />
                    <input
                      type="text"
                      class="w-full border rounded p-1"
                      formControlName="firstName"
                      placeholder="Instructor First Name"
                    />
                    <input
                      type="text"
                      class="w-full border rounded p-1"
                      formControlName="lastName"
                      placeholder="Instructor last Name"
                    />

                    <input
                      type="text"
                      class="w-full border rounded p-1"
                      formControlName="companyName"
                      placeholder="Company"
                    />
                    <button
                      (click)="updateInstructor(item)"
                      type="button"
                      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    >
                      Save
                    </button>
                    <button
                      (click)="toggleEdit(item)"
                      type="button"
                      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                    >
                      Cancel
                    </button>
                    <button
                      (click)="delete(item.id)"
                      type="button"
                      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                    >
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex justify-center items-center py-4">
      <button
        (click)="previousOnClick()"
        [disabled]="!instructorList.hasPrevious"
        class="text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2"
      >
        Previous
      </button>
      <ng-container *ngFor="let page of totalPages(); let i = index">
        <button
          (click)="goToPage(page)"
          [class.bg-blue-700]="currentPageNumber === page"
          [class.bg-gray-500]="currentPageNumber !== page"
          class="text-white hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2"
        >
          {{ page }}
        </button>
      </ng-container>
      <button
        (click)="nextOnClick()"
        [disabled]="!instructorList.hasNext"
        class="text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2"
      >
        Next
      </button>
    </div>
    <div class="flex justify-center items-center py-4">
      <button
        id="addBootcamp"
        (click)="openAddInstructorModal()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Add Instructor
      </button>
    </div>
  </div>

  <!-- Footer and centered button -->
</div>
