.container {
  display: flex;
}

.left-menu {
  flex: 1;
  background-color: blue;
  color: white; /* Text color */
  padding: 5px; /* Adjust padding as needed */
}

.right-content {
  flex: 3;
}

#saveButton {
  position: relative;
  margin-left: 750px;
  margin-top: 10px;
}

#routerButton {
  position: relative;
  margin-left: 850px;
  margin-top: 10px;
}

#addBootcamp {
  display: flex;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 100px;
}

.arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.page-numbers {
  display: flex;
  gap: 20px;
}

.page-number {
  cursor: pointer;
}

.current-page {
  font-weight: bold;
}
